# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files


Thumbs.db.DS_Store.DS_Store
Thumbs.db
